name: Release
on:
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ${{ vars.CI_GITHUB_RUNNER || 'ubuntu-latest' }}
    outputs:
      new_release_published: ${{ steps.release.outputs.new_release_published }}
      new_release_version: ${{ steps.release.outputs.new_release_version }}
      new_release_major_version: ${{ steps.release.outputs.new_release_major_version }}
      new_release_minor_version: ${{ steps.release.outputs.new_release_minor_version }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'

      - name: Semantic Release
        id: release
        uses: cycjimmy/semantic-release-action@v5
        with:
          extra_plugins: |
            @semantic-release/commit-analyzer@^13.0.1
            @semantic-release/exec@^7.1.0
            @semantic-release/git@^10.0.1
            @semantic-release/github@^11.0.6
            @semantic-release/release-notes-generator@^14.1.0
            conventional-changelog-conventionalcommits@^9.1.0
            semantic-release-github-actions-tags@^2.0.2
