name: Test
on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  TFLINT_VERSION: 'v0.54.0'
  TERRAFORM_VERSION: '1.11.1'

jobs:
  test:
    name: Test
    runs-on: ${{ vars.CI_GITHUB_RUNNER || 'ubuntu-latest' }}
    permissions:
      actions: read
      contents: read
      security-events: write
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: ${{ env.TFLINT_VERSION }}

      - name: Pre-commit
        uses: pre-commit/action@v3.0.1
